<div class="row">
  <div class="col-md-6">
    <h3>Day 1: June 22, 2026</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://forms.gle/A69mh9kdWWvYJwEb8" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Start – Introduction to the workshop, instructors, helpers, and code of conduct</td>
      </tr>
      <tr>
        <td>09:30</td>
        <td>Introduction to ChIP-seq</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>ChIP-seq Analysis Overview</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:15</td>
        <td>Loading and Exploring ChIP-seq Datasets</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish Day One</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2: June 23, 2026</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Differentially Enriched Peaks Analysis</td>
      </tr>
      <tr>
        <td>09:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Visualization and Exploration of ChIP-seq Data</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Qualitative Assessment Using IGV</td>
      </tr>
      <tr>
        <td>11:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Functional Analysis, Motif Analysis, Wrap-up and Q&A</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish Day Two</td>
      </tr>
      <tr>
        <td>End</td>
        <td><a href="https://forms.gle/yVa637x9G4rAvaLq6" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
